openapi: 3.0.0
info:
  title: SAP SEM Management API
  description: API for managing SEM CAR ids and their associated data (YQR_YPLCT001_0100_SRV)
  version: 1.0.0
  contact:
    name: Richemont API Team
servers:
  - url: https://bsdwebdisp.richemont.com/sap/opu/odata/sap/YQR_YPLCT001_0100_SRV
    description: SAP Production Server

paths:
  /YQR_YPLCT001_0100(YVCM_YPLCH001_02='{fromId}',YVCM_YPLCH001_02To='{toId}',A0I_FYEAR='{fromYear}',A0I_FYEARTo='{toYear}')/Results:
    get:
      summary: Get SEM CAR id results
      description: Retrieve a list of SEM CAR ids with their detailed information based on SEM CAR id and fiscal year range
      operationId: getCarIdResults
      tags:
        - CAR requests
      parameters:
        - name: fromId
          in: path
          description: Starting SEM CAR id (YVCM_YPLCH001_02)
          required: true
          schema:
            type: string
          example: '12415'
        - name: toId
          in: path
          description: Ending SEM CAR id (YVCM_YPLCH001_02To)
          required: true
          schema:
            type: string
          example: '12415'
        - name: fromYear
          in: path
          description: Starting fiscal year (A0I_FYEAR)
          required: true
          schema:
            type: string
          example: '2020'
        - name: toYear
          in: path
          description: Ending fiscal year (A0I_FYEARTo)
          required: true
          schema:
            type: string
          example: '2025'
        - name: $format
          in: query
          description: Response format (json or xml)
          required: false
          schema:
            type: string
            enum:
              - json
              - xml
          example: 'json'
        - name: $filter
          in: query
          description: OData filter expression to refine results
          required: false
          schema:
            type: string
          example: "YGRCH009 eq 'DUN'"
        - name: $select
          in: query
          description: OData select clause to specify which fields to return
          required: false
          schema:
            type: string
          example: 'ID,YPLCH001,YGRCH020_T,YGRCH009_T'
        - name: $top
          in: query
          description: Maximum number of results to return
          required: false
          schema:
            type: integer
            minimum: 1
          example: 50
        - name: $skip
          in: query
          description: Number of results to skip for pagination
          required: false
          schema:
            type: integer
            minimum: 0
          example: 0
        - name: $orderby
          in: query
          description: OData orderby clause to sort results
          required: false
          schema:
            type: string
          example: 'YPLCH001__YPLCH008 desc'
        - name: $expand
          in: query
          description: OData expand clause to include related entities
          required: false
          schema:
            type: string
          example: 'Parameters'
        - name: $count
          in: query
          description: Include total count of matching entities
          required: false
          schema:
            type: boolean
          example: true
        - name: $inlinecount
          in: query
          description: Request inline count (OData v2)
          required: false
          schema:
            type: string
            enum:
              - allpages
              - none
          example: 'allpages'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarDetailsResponse'
        '400':
          description: Bad request - Invalid query parameters or path parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /Users:
    get:
      summary: Get user list
      description: Retrieve a list of users with their roles, permissions and associated maison information
      operationId: getUsers
      tags:
        - User management
      parameters:
        - name: $format
          in: query
          description: Response format (json or xml)
          required: false
          schema:
            type: string
            enum:
              - json
              - xml
          example: 'json'
        - name: $filter
          in: query
          description: OData filter expression to refine results
          required: false
          schema:
            type: string
          example: "Maison eq 'DUN'"
        - name: $select
          in: query
          description: OData select clause to specify which fields to return
          required: false
          schema:
            type: string
          example: 'eMail,SAP_User_ID,Role_Code,Maison,Reporting_Entity,Name,Surname'
        - name: $top
          in: query
          description: Maximum number of results to return
          required: false
          schema:
            type: integer
            minimum: 1
          example: 50
        - name: $skip
          in: query
          description: Number of results to skip for pagination
          required: false
          schema:
            type: integer
            minimum: 0
          example: 0
        - name: $orderby
          in: query
          description: OData orderby clause to sort results
          required: false
          schema:
            type: string
          example: 'Surname asc'
        - name: $count
          in: query
          description: Include total count of matching entities
          required: false
          schema:
            type: boolean
          example: true
        - name: $inlinecount
          in: query
          description: Request inline count (OData v2)
          required: false
          schema:
            type: string
            enum:
              - allpages
              - none
          example: 'allpages'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'
              examples:
                userExample:
                  summary: Example user list response
                  value:
                    d:
                      results:
                        - eMail: 'john.doe@richemont.com'
                          SAP_User_ID: 'JDOE1'
                          Role_Code: 'INPUT_CAR_ENT'
                          Maison: 'DUN'
                          Reporting_Entity: '415'
                          Name: 'John'
                          Surname: 'Doe'
        '400':
          description: Bad request - Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    UserListResponse:
      type: object
      properties:
        d:
          type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/User'

    User:
      type: object
      description: User information with roles and permissions
      properties:
        eMail:
          type: string
          format: email
          description: User email address
          example: 'john.doe@richemont.com'
        SAP_User_ID:
          type: string
          description: SAP system user identifier
          example: 'JDOE1'
        Role_Code:
          type: string
          description: User role code
          enum:
            - INPUT_CAR_BRD
            - INPUT_CAR_ENT
            - INPUT_CAR_CDG
          example: 'INPUT_CAR_ENT'
        Maison:
          type: string
          description: Associated maison/brand code
          example: 'DUN'
        Reporting_Entity:
          type: string
          description: Reporting entity code
          example: '415'
        Name:
          type: string
          description: User first name
          example: 'John'
        Surname:
          type: string
          description: User last name/surname
          example: 'Doe'

    CarDetailsResponse:
      type: object
      properties:
        d:
          type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/CarResponse'

    CarResponse:
      type: object
      description: SEM CAR id information
      properties:
        __metadata:
          $ref: '#/components/schemas/Metadata'
        ID:
          type: string
          description: Unique composite identifier for the SEM CAR id
          example: 'V2.101.103.0_1.2.4.4.1.2.5.5:5.8.3.1.2.3.14.4.4.4.8.2.8.12.1.X.1.1.1.1.1.1.1.1.1.1.1.1.1.1.1.1.1.1.1.1.1.1.1.1.1.1_IBT20202025IBT12415124151241500000415DUN507NEWBeijing StreetRI04RI01CNSLShenyangCN2022041300000415CNSLB'
        TotaledProperties:
          type: string
          description: Totaled properties information
        YPLCH001:
          type: string
          description: SEM request id
          example: '12415'
        YPLCH001_T:
          type: string
          description: SEM request id
          example: '12415'
        YPLCH001_0CREATEDBY:
          type: string
          description: User who created the record
          example: 'RYAN1'
        YGRCH020:
          type: string
          description: Company code
          example: '415'
        YGRCH020_T:
          type: string
          description: Company name
          example: 'Richemont Commercial Company Limited'
        YGRCH020_0CURKEY_LC:
          type: string
          description: Company local currency
          example: 'CNY'
        YGRCH009:
          type: string
          description: Brand code
          example: 'DUN'
        YGRCH009_T:
          type: string
          description: Brand name
          example: 'dunhill'
        YPLCH001__YPLCH002:
          type: string
          description: Status code
          example: '5'
        YPLCH001__YPLCH002_T:
          type: string
          description: Status description
          example: 'Completed'
        YPLCH001__YPLCH037:
          type: string
          description: Boutique type code
          example: '7'
        YPLCH001__YPLCH037_T:
          type: string
          description: Boutique type description
          example: 'INTERNAL BOUTIQUE'
        YPLCH001__YPLCH003:
          type: string
          description: Event type code
          example: 'NEW'
        YPLCH001__YPLCH003_T:
          type: string
          description: Event type description
          example: 'Boutique Opening'
        YPLCH001__YCRCH014:
          type: string
          description: Street name
          example: 'Beijing Street'
        YPLCH001__YGRCH085:
          type: string
          description: Boutique category code
          example: 'RI04'
        YPLCH001__YGRCH085_T:
          type: string
          description: Boutique category description
          example: 'Street Boutique'
        YPLCH001__YGRCH087:
          type: string
          description: Boutique Environment
          example: 'RI01'
        YPLCH001__YGRCH087_T:
          type: string
          description: Location type description
          example: 'Mall'
        YPLCH001__YGRCH017:
          type: string
          description: Charter code
          example: 'CNSL'
        YPLCH001__YGRCH017_T:
          type: string
          description: Charter description
          example: 'DUN-Shenyang-Charter'
        YPLCH001__YGRCH010:
          type: string
          description: City name
          example: 'Shenyang'
        YPLCH001__YGRCH018:
          type: string
          description: Country code
          example: 'CN'
        YPLCH001__YGRCH018_T:
          type: string
          description: Country name
          example: 'China'
        YPLCH001__YPLCH008:
          type: string
          description: Date (YYYYMMDD format)
          example: '20220413'
        YPLCH001__YPLCH008_T:
          type: string
          description: Formatted date
          example: '13.04.2022'
        YPLCH001__YCRCH003:
          type: string
          description: Combined company/charter code
          example: '415/CNSL'
        YPLCH001__YCRCH003_T:
          type: string
          description: Combined company/charter description
          example: 'DUN SHY Charter'
        YPLCH001__YCRCH001_T:
          type: string
          description: Location category
          example: 'Boutique'
        YPLKF045:
          type: string
          description: Key figure 045 (numeric value)
          example: '6795.00'
        YPLKF045_F:
          type: string
          description: Key figure 045 formatted with currency
          example: '6.795,00 CNY'
        YPLKF046:
          type: string
          description: Key figure 046
          example: '0'
        YPLKF046_F:
          type: string
          description: Key figure 046 formatted
        YPLKF047:
          type: string
          description: Key figure 047
          example: '0'
        YPLKF047_F:
          type: string
          description: Key figure 047 formatted
        YPLKF048:
          type: string
          description: Key figure 048
          example: '35.00'
        YPLKF048_F:
          type: string
          description: Key figure 048 formatted with currency
          example: '35,00 CNY'
        YPLKF049:
          type: string
          description: Key figure 049
          example: '0'
        YPLKF049_F:
          type: string
          description: Key figure 049 formatted
        YPLKF050:
          type: string
          description: Key figure 050
          example: '980.00'
        YPLKF050_F:
          type: string
          description: Key figure 050 formatted with currency
          example: '980,00 CNY'
        YPLKF045B:
          type: string
          description: Key figure 045B
          example: '0'
        YPLKF045B_F:
          type: string
          description: Key figure 045B formatted with currency
          example: '0,00 CNY'
        YPLKF045B_E:
          type: string
          description: Key figure 045B unit
          example: 'CNY'
        YPLKF051:
          type: string
          description: Area measurement 051 (Total area)
          example: '160'
        YPLKF051_F:
          type: string
          description: Area measurement 051 formatted
          example: '160 M2'
        YPLKF051_E:
          type: string
          description: Area measurement 051 unit
          example: 'M2'
        YPLKF052:
          type: string
          description: Area measurement 052 (Sales area)
          example: '159'
        YPLKF052_F:
          type: string
          description: Area measurement 052 formatted
          example: '159 M2'
        YPLKF052_E:
          type: string
          description: Area measurement 052 unit
          example: 'M2'
        YPLKF053:
          type: string
          description: Area measurement 053 (Storage area)
          example: '35'
        YPLKF053_F:
          type: string
          description: Area measurement 053 formatted
          example: '35 M2'
        YPLKF053_E:
          type: string
          description: Area measurement 053 unit
          example: 'M2'
        YPLKF054:
          type: string
          description: Area measurement 054
          example: '35'
        YPLKF054_F:
          type: string
          description: Area measurement 054 formatted
          example: '35 M2'
        YPLKF054_E:
          type: string
          description: Area measurement 054 unit
          example: 'M2'
        YPLKF055:
          type: string
          description: Area measurement 055
          example: '0'
        YPLKF055_F:
          type: string
          description: Area measurement 055 formatted
          example: '0 M2'
        YPLKF055_E:
          type: string
          description: Area measurement 055 unit
          example: 'M2'
        YPLKF056:
          type: string
          description: Area measurement 056
          example: '0'
        YPLKF056_F:
          type: string
          description: Area measurement 056 formatted
          example: '0 M2'
        YPLKF056_E:
          type: string
          description: Area measurement 056 unit
          example: 'M2'
        Parameters:
          type: object
          description: Deferred navigation property to related parameters
          properties:
            __deferred:
              type: object
              properties:
                uri:
                  type: string
                  description: URI to fetch related parameters
                  example: "https://BSDWEBDISP.RICHEMONT.COM:443/sap/opu/odata/sap/YQR_YPLCT001_0100_SRV/YQR_YPLCT001_0100Results('12415')/Parameters"

    Metadata:
      type: object
      description: OData metadata for the entity
      properties:
        id:
          type: string
          description: Entity ID URI
        uri:
          type: string
          description: Entity URI
        type:
          type: string
          description: Entity type name
          example: 'YQR_YPLCT001_0100_SRV.YQR_YPLCT001_0100Result'

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code
            message:
              type: object
              properties:
                lang:
                  type: string
                  example: 'en'
                value:
                  type: string
                  description: Error message

  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: Basic authentication for SAP system
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://BSDWEBDISP.RICHEMONT.COM/oauth/authorize
          tokenUrl: https://BSDWEBDISP.RICHEMONT.COM/oauth/token
          scopes:
            read: Read access to location data
            write: Write access to location data

security:
  - BasicAuth: []
  - OAuth2:
      - read

tags:
  - name: CAR requests
    description: Operations related to retrieve CAR details from SEM.
  - name: User management
    description: Operations related to retrieve user roles permisions from SAP SEM.
